#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
	rocknroll {
		compatible = "zmk,rocknroll";
		key-positions = <0 1 2 3>;

        default_layer {
            bindings = <
                /* Roll-fwd  Roll-back  Rock-fwd  Rock-back */
                /* 0-x */ &kp A &none &none &none
                /* 1-x */ &kp B &none &none &none
                /* 1-0 */ &kp C &kp D &kp E &kp F
                /* 2-x */ &kp G &none &none &none
                /* 2-0 */ &kp H &kp I &kp J &kp K
                /* 2-1 */ &kp L &kp M &kp N &kp O
                /* 3-x */ &kp P &none &none &none
                /* 3-0 */ &kp Q &kp R &kp S &kp T
                /* 3-1 */ &kp U &kp V &kp W &kp X
                /* 3-2 */ &kp Y &kp Z &kp SPACE &kp ENTER
            >;
        };
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&sl N1 &kp N2
                &kp N3 &kp N4
			>;
		};
	};
};
